# Flutter/Dart
.dart_tool/
.packages
.buildlog/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# iOS
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/FlutterPluginRegistrant/GeneratedPluginRegistrant.*
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcscmblueprint

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/Flutter/Generated.xcconfig
.DS_Store

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
/web/.dart_tool/
web/build/

# General IDE
.idea/
.vscode/
*.iml
node_modules/
functions/node_modules/

# Firebase secrets (mantén tu API en lib/)
ios/Runner/GoogleService-Info.plist
android/app/google-services.json
