# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_export_environment.sh

# IDEs
.vscode/
.idea/
*.iml

# macOS
.DS_Store

# Android
android/app/google-services.json

# iOS
ios/Runner/GoogleService-Info.plist
ios/Runner/GoogleService-Info*.plist
firebase_app_id_file.json

# Web
web/firebase-messaging-sw.js

# Logs
*.log

# Sensitive Keys
*.keystore
*.jks

# Fastlane
fastlane/report.xml
fastlane/preview.html
fastlane/screenshots
fastlane/test_output
